# all ignore #
/*
/.**

# README.md
!/README.md

## bin
!/.bin/
!/.bin/**

## config
!/.config/

### alacritty
!/.config/alacritty/
!/.config/alacritty/**

### AstroNvim
!/.config/astro-nvim/
!/.config/astro-nvim/**

### karabiner
!/.config/karabiner/
!/.config/karabiner/karabiner.json
!/.config/karabiner/assets/
!/.config/karabiner/assets/**

### lazygit
!/.config/lazygit/
!/.config/lazygit/**

### nvim-term
!/.config/nvim-term/
!/.config/nvim-term/**

### skhd
!/.config/skhd/
!/.config/skhd/.skhdrc

### starship
!/.config/starship/
!/.config/starship/starship.toml

### triactyl
!/.config/tridactyl/
!/.config/tridactyl/**

### vifm
!/.config/vifm/
!/.config/vifm/vifmrc

### tmux
!/.config/tmux/
!/.config/tmux/tmux.conf

### yabai
!/.config/yabai/
!/.config/yabai/.yabairc

### zsh
!/.config/zsh/
!/.config/zsh/**

### カラーテーマ
!/.config/colors/
!/.config/colors/**

## Firefox
!/Firefox/
!/Firefox/**

## Docker
!/docker/
!/docker/**

.DS_Store
!/.gitignore
*node_modules/
