# all ignore #
/*
/.**

# README.md
!/README.md

## nix
!/flake.nix
!/flake.lock
!/home/
!/home/**
!/hosts/
!/hosts/**
!/programs/
!/programs/**

## scripts
!/scripts/
!/scripts/**

## windows
!/windows/
!/windows/**

## Firefox
!/firefox/
!/firefox/**

.DS_Store
!/.gitignore
*node_modules/
